@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #002D56;
  /* Azul Marino Liceo */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-liceo-primary: #002D56;
  --color-liceo-accent: #38bdf8;
  --color-liceo-gold: #ffd900;
  /* light blue / celeste */
  --color-liceo-white: #ffffff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #001224;
  /* deep dark blue */
  --foreground: #f3f4f6;
  --color-liceo-primary: #001f3e;
  /* darker primary for dark mode objects if necessary */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}